<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Marcelo Andrade Misc</string>
	<key>uuid</key>
	<string>8A0BCB36-1BFA-4BBF-8EF4-794A6ADC34F6</string>
</dict>
</plist>
